<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>bhavesh.com.step.controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logouts</servlet-name>
        <servlet-class>bhavesh.com.step.controller.logouts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mystudent</servlet-name>
        <servlet-class>bhavesh.com.step.controller.Mystudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processStudent</servlet-name>
        <servlet-class>bhavesh.com.step.controller.processStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register.fin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home.fin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logouts</servlet-name>
        <url-pattern>/logout.fin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mystudent</servlet-name>
        <url-pattern>/Mystudent.fin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processStudent</servlet-name>
        <url-pattern>/processStudent.fin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
